<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yicheng.pan.tfm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TFM">
        <activity android:name=".Address.AddAddressActivity"/>
        <activity android:name=".Address.AddressListActivity"/>
        <activity android:name=".Address.UpdateAddressActivity"/>
        <activity android:name=".Auth.AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main.MainActivity"/>
        <activity android:name=".Express.ExpressActivity" />
    </application>
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyCrHz8LrzyL3HeDB31w1KiPbaSaZAuGYVk" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE"/>
</manifest>